<section id="about" class="section">
  <div class="container about-section">
    <h2 class="section-heading">About <span class="word-effect">Us</span></h2>
    <p class="section-description">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about-section-content">
      <ul class="item-container">
        <li class="card">
          <h3 class="card-heading">01</h3>
          <p class="emphasized-paragraph">Expert, innovative teaching staff</p>
        </li>
        <li class="card">
          <h3 class="card-heading">02</h3>
          <p class="emphasized-paragraph">
            Wide range of course levels and options
          </p>
        </li>
        <li class="card">
          <h3 class="card-heading">03</h3>
          <p class="emphasized-paragraph">Multicultural learning environment</p>
        </li>
        <li class="card">
          <h3 class="card-heading">04</h3>
          <p class="emphasized-paragraph">
            Comprehensive language support services
          </p>
        </li>
      </ul>
      <div class="image-background">
        <img
          src="./src/images/about-us/memoji.png"
          height="211"
          srcset="
            ./src/images/about-us/memoji.png    1x,
            ./src/images/about-us/memoji@2x.png 2x
          "
          alt="Smiling teacher memoji ;)"
        />
      </div>
    </div>
  </div>
</section>
