<section class="section application-section" id="application">
  <div class="container">
    <h2 class="section-heading">
      Leave an <span class="word-effect">application</span>
    </h2>
    <p class="section-description">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <div class="application-section-form-container">
      <div class="application-section-card">
        <p class="application-section-card-heading">1000</p>
        <p class="application-section-card-description">
          of our online English language lessons! This journey has been full of
          discovery, growth and unforgettable moments, and we are happy to share
          this joyful event with you.
        </p>
      </div>
      <form class="application-section-form" action="#" novalidate>
        <div class="text-input-wrapper">
          <input
            class="text-input"
            type="text"
            name="name"
            id="name"
            placeholder="Name"
            required
          />
          <span class="text-input-error-info"></span>
        </div>

        <div class="text-input-wrapper">
          <input
            class="text-input"
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            required
          />
          <span class="text-input-error-info"></span>
        </div>

        <div class="text-input-wrapper">
          <input
            class="text-input"
            type="tel"
            name="phone"
            id="phone"
            placeholder="Phone"
            required
          />
          <span class="text-input-error-info"></span>
        </div>

        <div class="text-input-wrapper">
          <textarea
            class="text-input"
            name="comment"
            id="comment"
            rows="4"
            placeholder="Comment"
            required
          ></textarea>
          <span class="text-input-error-info"></span>
        </div>

        <p class="application-section-radio-title">Choose a teacher</p>

        <div class="application-section-radio-input-group">
          <div class="application-section-radio-input">
            <input
              class="radio-button"
              type="radio"
              name="teacher"
              value="Maria"
              id="Maria"
              checked
            />
            <label class="application-section-radio-label" for="Maria"
              >Maria</label
            >
          </div>
          <div class="application-section-radio-input">
            <input
              class="radio-button"
              type="radio"
              name="teacher"
              value="Artem"
              id="Artem"
            />
            <label class="application-section-radio-label" for="Artem"
              >Artem</label
            >
          </div>
          <div class="application-section-radio-input">
            <input
              class="radio-button"
              type="radio"
              name="teacher"
              value="Ilona"
              id="Ilona"
            />
            <label class="application-section-radio-label" for="Ilona"
              >Ilona</label
            >
          </div>
          <div class="application-section-radio-input">
            <input
              class="radio-button"
              type="radio"
              name="teacher"
              value="Volodymyr"
              id="Volodymyr"
            />
            <label class="application-section-radio-label" for="Volodymyr"
              >Volodymyr</label
            >
          </div>
        </div>

        <button class="button" type="submit">Send</button>

        <p class="application-section-form-message">
          By clicking on “Send” button, you agree to our
          <a class="application-section-privacy-policy" href="#"
            >Privacy Policy</a
          >, and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</section>
