<div class="container footer-container" id="footer">
  <div class="footer-main">
    <div class="footer-info">
      <a href="./index.html" class="link logo"
        >English<span class="logo-web">excellence</span>.</a
      >
      <address id="contact" class="footer-address">
        <ul class="list contact-list">
          <li>
            <span class="contact-label">Phone number:</span>
            <a href="tel:+380684439426" class="link contact-link"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li>
            <span class="contact-label">Address:</span>
            <a
              href="https://maps.app.goo.gl/WAqXYDziRedPbLEX9"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="link contact-link"
              data-modal-open
              >32a M. Bazhana ave</a
            >
          </li>
        </ul>
      </address>
    </div>
    <ul class="list footer-nav-list">
      <li><a href="#about" class="link footer-nav-link">About us</a></li>
      <li><a href="#lessons" class="link footer-nav-link">Our lessons</a></li>
      <li><a href="#teachers" class="link footer-nav-link">Teachers</a></li>
      <li><a href="#reviews" class="link footer-nav-link">Reviews</a></li>
      <li><a href="#contact" class="link footer-nav-link">Contact us</a></li>
    </ul>
    <ul class="list footer-soc-list">
      <li>
        <a
          href="https://www.facebook.com/goITclub/"
          class="link footer-soc-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="footer-soc-icon" width="28" height="28">
            <use href="./src/images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/goitclub/"
          class="link footer-soc-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="footer-soc-icon" width="28" height="28">
            <use href="./src/images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/c/GoIT"
          class="link footer-soc-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="footer-soc-icon" width="28" height="28">
            <use href="./src/images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <hr class="footer-hr" />
  <div class="footer-sub">
    <p class="footer-text">©2023 English Excellence. All rights reserved.</p>
    <ul class="list policy-list">
      <li><a href="#" class="link policy-link">Privacy Policy</a></li>
      <li><a href="#" class="link policy-link">Terms of Service</a></li>
    </ul>
  </div>
</div>
