<div class="container header-container">
  <a href="./index.html" class="link logo"
    >English<span class="logo-web">excellence</span>.</a
  >
  <nav class="nav">
    <ul class="list nav-list">
      <li><a href="#about" class="link nav-link">About us</a></li>
      <li><a href="#lessons" class="link nav-link">Our lessons</a></li>
      <li><a href="#teachers" class="link nav-link">Teachers</a></li>
      <li><a href="#reviews" class="link nav-link">Reviews</a></li>
      <li><a href="#contact" class="link nav-link">Contact us</a></li>
    </ul>
  </nav>
  <ul class="list menu-soc-list">
    <li>
      <a
        href="https://www.facebook.com/goITclub/"
        class="link menu-soc-link"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="menu-soc-icon" width="28" height="28">
          <use href="./src/images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/goitclub/"
        class="link menu-soc-link"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="menu-soc-icon" width="28" height="28">
          <use href="./src/images/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        href="https://www.youtube.com/c/GoIT"
        class="link menu-soc-link"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="menu-soc-icon" width="28" height="28">
          <use href="./src/images/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
  <button
    class="menu-toggle js-open-menu"
    type="button"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg class="mobile-menu-icon" width="32" height="32">
      <use href="./src/images/icons.svg#icon-menu"></use>
    </svg>
  </button>
</div>
