<section class="section hero-section">
  <div class="container hero-container">
    <div class="hero-wrapper">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="hero-accent">English</span> with us!
      </h1>
      <a class="button hero-section-button" href="#application">
        Leave an application
      </a>
      <a class="hero-anchor" href="#footer">
        <svg class="hero-anchor-icon" width="20" height="20">
          <use href="./src/images/icons.svg#icon-arrow-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
