<div class="menu-backdrop js-menu-container">
  <div class="menu-container" id="mobile-menu">
    <button
      class="menu-toggle menu-close-btn js-close-menu"
      aria-label="Close menu"
    >
      <svg class="menu-close-icon" width="32" height="32">
        <use href="./src/images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="list mobile-menu">
      <li><a href="#about" class="link mobile-menu-link">About us</a></li>
      <li>
        <a href="#lessons" class="link mobile-menu-link">Our lessons</a>
      </li>
      <li>
        <a href="#teachers" class="link mobile-menu-link">Teachers</a>
      </li>
      <li><a href="#reviews" class="link mobile-menu-link">Reviews</a></li>
      <li>
        <a href="#contact" class="link mobile-menu-link">Contact us</a>
      </li>
    </ul>
    <ul class="list mobile-menu-soc-list">
      <li>
        <a
          href="https://www.facebook.com/goITclub/"
          class="link mobile-menu-soc-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Navigate to Facebook goITclub"
        >
          <svg class="mobile-menu-soc-icon" width="28" height="28">
            <use href="./src/images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/goitclub/"
          class="link mobile-menu-soc-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Navigate to Instagram goitclub"
        >
          <svg class="mobile-menu-soc-icon" width="28" height="28">
            <use href="./src/images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/c/GoIT"
          class="link mobile-menu-soc-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Navigate to YouTube GoIT"
        >
          <svg class="mobile-menu-soc-icon" width="28" height="28">
            <use href="./src/images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
