<section class="section">
  <div class="container proposal-container">
    <div class="proposal-wrapper">
      <h2 class="visually-hidden">English Advantages</h2>

      <p class="main-title proposal-section-title">Master the <span class="main-title-highlight">Language</span> with
      Our English Package!</p>

      <div class="leave-application-card">
        <p class="leave-application-card-name">Power of English</p>
        <ul class="english-advantages-list">
          <li class="english-advantage">
            <div class="english-advantage-checkmark">
              <svg
                class="english-advantage-checkmark-sign"
                width="9.5"
                height="7.5"
              >
                <use href="./src/images/icons.svg#icon-check"></use>
              </svg>
            </div>
            <p class="english-advantage-description">
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </p>
          </li>
          <li class="english-advantage">
            <div class="english-advantage-checkmark">
              <svg
                class="english-advantage-checkmark-sign"
                width="9.5"
                height="7.5"
              >
                <use href="./src/images/icons.svg#icon-check"></use>
              </svg>
            </div>
            <p class="english-advantage-description">
              Learn in a nurturing setting where every student's progress
              matters.
            </p>
          </li>
          <li class="english-advantage">
            <div class="english-advantage-checkmark">
              <svg
                class="english-advantage-checkmark-sign"
                width="9.5"
                height="7.5"
              >
                <use href="./src/images/icons.svg#icon-check"></use>
              </svg>
            </div>
            <p class="english-advantage-description">
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </p>
          </li>
        </ul>

        <button type="button" class="button proposal-section-button">Leave an application</button>
        <img src="./src/images/proposal/books.png"
             srcset="./src/images/proposal/books.png 1x, ./src/images/proposal/books@2x.png 2x"
             alt="Tall stack of books" width="214" class="books-image">

        <div class="leave-application-backcard" id="backcard-1"></div>
        <div class="leave-application-backcard" id="backcard-2"></div>
      </div>
    </div>
  </div>
</section>
