<section class="section reviews" id="reviews">
  <div class="container">
    <div class="section-heading-text-wrapper">
      <h2 class="section-heading">
        What our <span class="word-effect">students</span> say
      </h2>
      <p class="section-description">
        Hear from our students about their learning journey with us, as they
        share their experiences, progress, and the transformative impact
      </p>
    </div>
    <ul class="review-cards-wrapper">
      <li class="review-card">
        <div class="review-card-profile">
          <img
            class="review-card-profile-picture"
            srcset="
              /src/images/students/anna.webp    1x,
              /src/images/students/anna@2x.webp 2x,
              /src/images/students/anna@4x.webp 4x
            "
            src="/src/images/students/anna.webp"
            alt="picture of a blonde student Anna"
            width="50"
            height="50"
          />
          <div class="profile-text-wrapper">
            <p class="review-card-profile-name">Anna</p>
            <p class="review-card-profile-subtitle">Student</p>
          </div>
        </div>
        <p class="review-card-text">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>
      <li class="review-card">
        <div class="review-card-profile">
          <img
            class="review-card-profile-picture"
            srcset="
              /src/images/students/mykhailo.webp    1x,
              /src/images/students/mykhailo@2x.webp 2x,
              /src/images/students/mykhailo@4x.webp 4x
            "
            src="/src/images/students/mykhailo.webp"
            alt="black and white picture of a male student Mykhailo"
            width="50"
            height="50"
          />
          <div class="profile-text-wrapper">
            <p class="review-card-profile-name">Mykhailo</p>
            <p class="review-card-profile-subtitle">Student</p>
          </div>
        </div>
        <p class="review-card-text">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>
      <li class="review-card">
        <div class="review-card-profile">
          <img
            class="review-card-profile-picture"
            srcset="
              /src/images/students/victoria.webp    1x,
              /src/images/students/victoria@2x.webp 2x,
              /src/images/students/victoria@4x.webp 4x
            "
            src="/src/images/students/victoria.webp"
            alt="picture of a female student Victoria"
            width="50"
            height="50"
          />
          <div class="profile-text-wrapper">
            <p class="review-card-profile-name">Victoria</p>
            <p class="review-card-profile-subtitle">Student</p>
          </div>
        </div>
        <p class="review-card-text">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
