.about-section-content {
  display: flex;
  flex-direction: column;
}

.about-section-content .card-heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--green);
  margin-bottom: 16px;
}

.about-section-content .item-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-section-content .card {
  background: var(--gray);
  border-radius: 16px;
  padding: 32px;
  flex-basis: 100%;
}

.about-section-content .image-background {
  background-color: var(--green);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 51px 0;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .about-section-content .item-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .about-section-content .card {
    flex-basis: calc((100% - 32px) / 2);
  }

  .about-section-content .image-background {
    flex-basis: 100%;
    padding: 16px 0;
    margin-top: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .about-section-content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* the width of the list item container should be 2/3 */
  .about-section-content .item-container {
    flex-basis: calc(((100% - 64px) / 3) * 2);
  }

  .about-section-content .card {
    flex-basis: calc((100% - 32px) / 2);
  }

  .about-section-content .image-background {
    flex-basis: calc((100% + 32px) / 3);
    padding: 70px 0;
    margin-top: 0;
    margin-left: 32px;
  }
}
