.section {
  padding: 40px 0;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 128px;
  }
}

.list {
  display: flex;
  list-style-type: none;
}

.link {
  display: inline-block;
  text-decoration: none;
}

.main-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.05263;
  color: rgb(var(--white));
}

.main-title-span {
  color: var(--lighter-green);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
