.map-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 20, 23, 0.4);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity var(--transition), visibility var(--transition);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.map-container {
  width: calc(100% - 40px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 42px 2px 0;
  background-color: var(--white);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  border: 4px double rgba(0, 0, 0, 0.1);
  transition: transform var(--transition);
}

@media screen and (min-width: 768px) {
  .map-container {
    width: calc(100% - 64px);
  }
}

@media screen and (min-width: 1280px) {
  .map-container {
    width: 1024px;
  }
}

.is-hidden .map-container {
  transform: translate(-50%, 100%) scale(0.5) rotate(180deg);
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--gray);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color var(--transition), border-color var(--transition);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--green);
  border-color: transparent;
}

.modal-close-icon {
  stroke: var(--black);
  transition: stroke var(--transition);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  stroke: var(--white);
}

.map {
  width: 100%;
  max-height: 50dvh;
}
